{% extends "template.html" %}

{% block content %}

    <style>
        .about-section {
            background: url('../static/images/salonImage/wallpaper.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>

<div class="about-section section-padding">
    <div class="row">
        <div class="container" style="max-width: 90% !important;">
            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
            {% if session %}
                <em style="color: rgba(188,108,37,0.73) !important;">Hi, {{session['user']['first_name']}} choose your saloon</em>
            {% endif %}
                <h2 style="color: rgba(188,108,37,0.73) !important;">Saloon</h2>
            </div>
            <div class="row align-items-center">
                <!-- Uomo -->
                <div class="col-lg-6 col-12">
                    <div class="ratio ratio-1x1">
                        <img src="../static/images/salonImage/barba.jpg" style="box-sizing: border-box" class="custom-video">
                        <div class="about-video-info d-flex flex-column">
                            <h4 class="mt-auto">Reservation for Barber Shop</h4>
                            <p class="text-white">Treat yourself to the quality experience you deserve. At our barbershop,
                                our experts are ready to provide you with customized cuts and treatments
                                to ensure you achieve an impeccable appearance and a renewed sense of
                                confidence.
                            </p>
                            <div class="col-lg-4 col-md-10 col-8 mx-auto mt-2">
                                <a class="btn custom-btn custom-border-btn" href="{{url_for('barber')}}">Reservation Barber Shop<i class="bi-arrow-up-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Donna -->
                <div class="col-lg-6 col-12">
                    <div class="ratio ratio-1x1">
                        <img src="../static/images/salonImage/capellidonna.jpg" style="box-sizing: border-box" class="custom-video">
                        <div class="about-video-info d-flex flex-column">
                            <h4 class="mt-auto">Reservation for Hairdresser</h4>
                            <p class="text-white">Choose our hair salon and access all our services.
                                Come and relax, and treat yourself to a day of beauty and elegance
                                tailored just for you.
                            </p>
                            <div class="col-lg-4 col-md-10 col-8 mx-auto mt-2">
                                <a class="btn custom-btn custom-border-btn" href="{{url_for('hairdresser')}}">Reservation Hairdresser Salon<i class="bi-arrow-up-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
