{% extends "template.html" %}

{% block content %}

<!-- Team-->
<section class="barista-section section-padding section-bg" id="barista-team" style="background-color: rgba(233,233,231,0.65) !important;">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                <h2 class="text-secondary">Check your reservations</h2>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4">
                <div class="team-block-wrap">
                    <a href="{{ url_for('reservationEmployees') }}">
                        <div class="team-block-info d-flex flex-column">
                            <div class="d-flex mt-auto mb-3">
                                <h4 class="text-white mb-0">Carmine</h4>
                            </div>
                        </div>

                        <div class="team-block-image-wrap">
                            <img src="../static/images/team/barb4.jpg" class="team-block-image img-fluid" alt="">
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-block-wrap">
                    <a href="{{ url_for('reservationEmployees') }}">
                        <div class="team-block-info d-flex flex-column">
                            <div class="d-flex mt-auto mb-3">
                                <h4 class="text-white mb-0">Camilla</h4>
                            </div>
                        </div>

                        <div class="team-block-image-wrap">
                            <img src="../static/images/team/parrucc1.jpg" class="team-block-image img-fluid" alt="">
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4">
                <div class="team-block-wrap">
                    <a href="{{ url_for('reservationEmployees') }}">
                        <div class="team-block-info d-flex flex-column">
                            <div class="d-flex mt-auto mb-3">
                                <h4 class="text-white mb-0">Lorenzo</h4>
                            </div>
                        </div>

                        <div class="team-block-image-wrap">
                            <img src="../static/images/team/barb1.jpg" class="team-block-image img-fluid" alt="">
                        </div>
                    </a>
                </div>
            </div>

             <div class="col-lg-3 col-md-6 col-12 mb-4">
                <div class="team-block-wrap">
                    <a href="{{ url_for('reservationEmployees') }}">
                        <div class="team-block-info d-flex flex-column">
                            <div class="d-flex mt-auto mb-3">
                                <h4 class="text-white mb-0">Vincenzo</h4>
                            </div>
                        </div>

                        <div class="team-block-image-wrap">
                            <img src="../static/images/team/barb3.jpg" class="team-block-image img-fluid" alt="">
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <!-- Secondo team-->
    <div class="container">
        <div class="row justify-content-center">


            <div class="col-lg-3 col-md-6 col-12 mb-4">
                <div class="team-block-wrap">
                    <a href="{{ url_for('reservationEmployees') }}">
                        <div class="team-block-info d-flex flex-column">
                            <div class="d-flex mt-auto mb-3">
                                <h4 class="text-white mb-0">Attilio</h4>
                            </div>
                        </div>

                        <div class="team-block-image-wrap">
                            <img src="../static/images/team/attilio.jpg" class="team-block-image img-fluid" alt="">
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-block-wrap">
                    <a href="{{ url_for('reservationEmployees') }}">
                        <div class="team-block-info d-flex flex-column">
                            <div class="d-flex mt-auto mb-3">
                                <h4 class="text-white mb-0">Jessica</h4>
                            </div>
                        </div>

                        <div class="team-block-image-wrap">
                            <img src="../static/images/team/jessica.jpg" class="team-block-image img-fluid" alt="">
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4">
                <div class="team-block-wrap">
                    <a href="{{ url_for('reservationEmployees') }}">
                        <div class="team-block-info d-flex flex-column">
                            <div class="d-flex mt-auto mb-3">
                                <h4 class="text-white mb-0">Mario</h4>
                            </div>
                        </div>

                        <div class="team-block-image-wrap">
                            <img src="../static/images/team/mario.jpg" class="team-block-image img-fluid" alt="">
                        </div>
                    </a>
                </div>
            </div>

             <div class="col-lg-3 col-md-6 col-12 mb-4">
                <div class="team-block-wrap">
                    <a href="{{ url_for('reservationEmployees') }}">
                        <div class="team-block-info d-flex flex-column">
                            <div class="d-flex mt-auto mb-3">
                                <h4 class="text-white mb-0">Mariacarla</h4>
                            </div>
                        </div>

                        <div class="team-block-image-wrap">
                            <img src="../static/images/team/parrucchiere-2.jpg" class="team-block-image img-fluid" alt="">
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}