{% extends "template.html" %}

{% block content %}

    <link href="../static/styleHome.css" rel="stylesheet">

    <style>
        .card.card-profile {
            margin-bottom: 20px;
        !important; /* Aggiungi il margine desiderato qui */
        }
    </style>


    <div class="main-content">
        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
             style="min-height: 200px; background-size: cover; background-position: center top">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        {% if session['user'] %}
                            <h1 class="display-2" style="color: #bc6c25 !important;">
                                Hello {{ session['user']['first_name'] }}</h1>
                        {% endif %}
                        <p class="mt-0 mb-5" style="color: black !important;">Welcome to your profile, here you will be
                            able to view your personal information and the reservations that have been made with all the
                            information imported</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img src="../static/images/icon/smile.jpg.avif" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <a href="/modifyUser" class="btn btn-sm btn-info mr-4">Settings</a>
                            </div>
                        </div>
                        <div class="card-body pt-0 pt-md-4">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">

                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                {% if session %}
                                    <h3>
                                        {{ session['user']['first_name'] }} {{ session['user']['last_name'] }}<span
                                            class="font-weight-light"></span>
                                    </h3>
                                    <div class="h5 font-weight-300">
                                        <i class="bi bi-phone bi-lg"></i> {{ session['user']['phone'] }}
                                    </div>
                                    <div class="h5 font-weight-300">
                                        {% if session['user']['gender'] == 'Male' %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"></path>
                                            </svg>
                                        {% elif session['user']['gender'] == 'Female' %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z"></path>
                                            </svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-gender-ambiguous" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M11.5 1a.5.5 0 0 1 0-1h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-3.45 3.45A4 4 0 0 1 8.5 10.97V13H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V14H6a.5.5 0 0 1 0-1h1.5v-2.03a4 4 0 1 1 3.471-6.648L14.293 1H11.5zm-.997 4.346a3 3 0 1 0-5.006 3.309 3 3 0 0 0 5.006-3.31z"></path>
                                            </svg>
                                        {% endif %}
                                        {{ session['user']['gender'] }}
                                    </div>
                                    <div class="h5 mt-4">
                                        <i class="bi bi-envelope bi-lg"></i> {{ session['user']['email'] }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Reservation-->
                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary"
                         style="background-position: center; border: none;">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h2 class="mb-0" style="color: #bc6c26; font-size: x-large!important;">My
                                        Reservations</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="background-color: white!important;">
                            <ul id="cursor">
                                {% for booking_id, booking_data in cursor.items() %}
                                    <li style="background-color: #cdcdcd; padding: 10px; margin: 20px 0; border-radius: 5px; display: flex; justify-content: space-between; align-items: center;">
                                        <div>
                                            <h4 class="text-black" style="font-size: small!important;">
                                                <i class="bi bi-calendar2-week"></i> {{ booking_data.date }}
                                                <i class="bi bi-clock-history"></i> {{ booking_data.time }}
                                            </h4>
                                            <h4 class="text-black" style="font-size: small!important;">
                                                <i class="bi bi-scissors"></i> Service: {{ booking_data.typeS }}
                                                <i class="bi bi-person-circle"></i>
                                                Employe: {{ booking_data.employe }}
                                            </h4>
                                        </div>
                                        <a class="btn btn-danger btn-sm"
                                           href="{{ url_for('delete', booking_id=booking_id) }}">
                                            <i class="bi bi-trash" style="width: 20px"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
