{% extends "template.html" %}

{% block content %}
    <div class="d-flex justify-content-between">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-content">
                <div class="reviews-block">
                    <div class="reviews-block-image-wrap d-flex align-items-center">
                        <img src="../static/images/reviews/young-woman-with-round-glasses-yellow-sweater.jpg" class="reviews-block-image img-fluid" alt="">

                        <div class="">
                            <h6 class="text-white mb-0">Sandra</h6>
                            <em class="text-white">Customers</em>
                        </div>
                    </div>

                    <div class="reviews-block-info">
                        <p>
                            I had an amazing experience at GigaStyle! I opted for a haircut and styling before a special event, and I was left speechless.
                            My hairstylist exceeded my expectations, creating a spectacular hairstyle. The staff was very friendly, and the service was
                            punctual. I highly recommend GigaStyle to all women looking for quality service.
                        </p>

                        <div class="d-flex border-top pt-3 mt-4">
                            <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                            <div class="reviews-group ms-auto">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card duplicata -->
        <div class="timeline-container timeline-container-left">
            <div class="timeline-content">
                <div class="reviews-block">
                    <div class="reviews-block-image-wrap d-flex align-items-center">
                        <img src="../static/images/reviews/young-woman-with-round-glasses-yellow-sweater.jpg" class="reviews-block-image img-fluid" alt="">

                        <div class="">
                            <h6 class="text-white mb-0">Sandra</h6>
                            <em class="text-white">Customers</em>
                        </div>
                    </div>

                    <div class="reviews-block-info">
                        <p>
                            I had an amazing experience at GigaStyle! I opted for a haircut and styling before a special event, and I was left speechless.
                            My hairstylist exceeded my expectations, creating a spectacular hairstyle. The staff was very friendly, and the service was
                            punctual. I highly recommend GigaStyle to all women looking for quality service.
                        </p>

                        <div class="d-flex border-top pt-3 mt-4">
                            <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                            <div class="reviews-group ms-auto">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
