{% extends "template.html" %}

{% block content %}

    <section class="booking-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 d-flex justify-content-center align-items-center">
                    <div class="booking-form-wrap" style="max-width: 600px;">
                        <!-- Aumenta la larghezza massima come preferisci -->
                        <div class="col-12 p-0">
                            <form class="custom-form booking-form" action="/modifyPrice/barber" method="POST">
                                <div class="text-center mb-4 pb-lg-2">
                                    <em class="text-white">Here you can modify the prices of the Barber Shop
                                        Services.</em>
                                    <h2 class="text-white">Modify the prices</h2>
                                </div>

                                <div class="booking-form-body">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <label for="haircut" style="color: white">Haircut</label>
                                            <input type="number" name="haircut" id="haircut" class="form-control"
                                                   style="width: 100%;">
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <label for="beard" style="color: white">Beard</label>
                                            <input type="number" name="beard" id="beard" class="form-control"
                                                   style="width: 100%;">
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <label for="hbeard" style="color: white">Haircut & Beard</label>
                                            <input type="number" name="hbeard" id="hbeard" class="form-control"
                                                   style="width: 100%;">
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <label for="shave" style="color: white">Traditional Shave </label>
                                            <input type="number" name="shave" id="shave" class="form-control"
                                                   style="width: 100%;">
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <label for="chaircut" style="color: white">Children's Haircut</label>
                                            <input type="number" class="form-control" name="chaircut" id="chaircut"
                                                   style="width: 100%;" >
                                        </div>

                                        <div class="col-12 mt-2">
                                            <input type="submit" value="Modify" class="form-control"
                                                   style="width: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
