{% extends "template.html" %}

{% block content %}

    <section class="booking-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 d-flex justify-content-center align-items-center">
                    <div class="booking-form-wrap" style="max-width: 600px;">
                        <!-- Aumenta la larghezza massima come preferisci -->
                        <div class="col-12 p-0">
                            <form class="custom-form booking-form" action="/modifyUser" method="POST">
                                <div class="text-center mb-4 pb-lg-2">
                                    <em class="text-white">Here you can edit your personal information</em>
                                    <h2 class="text-white">Modify your profile</h2>
                                </div>

                                <div class="booking-form-body">
                                    {% if session['user'] %}
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <label for="first_name" style="color: white">First Name</label>
                                            <input type="text" name="first_name" id="first_name" class="form-control"
                                                   style="width: 100%;" value="{{ session['user']['first_name'] }}">
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <label for="last_name" style="color: white">Last Name</label>
                                            <input type="text" name="last_name" id="last_name" class="form-control"
                                                   style="width: 100%;" value="{{ session['user']['last_name'] }}">
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <label for="email" style="color: white">E-mail</label>
                                            <input type="email" name="email" id="email" class="form-control"
                                                   style="width: 100%;" value="{{ session['user']['email'] }}">
                                        </div>



                                        <div class="col-lg-6 col-12">
                                            <label for="phone" style="color: white">Cellular</label>
                                            <input type="tel" class="form-control" name="phone" id="phone"
                                                   style="width: 100%;" pattern="[0-9]{10}" value="{{ session['user']['phone'] }}">
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <label for="gender" style="color: white">Gender</label>
                                            <select class="form-control" name="gender" id="gender" style="width: 100%;">
                                                <option value="{{ session['user']['gender'] }}">--select--</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>

                                        <div class="col-12 mt-2">
                                            <input type="submit" value="Modify" class="form-control"
                                                   style="width: 100%;">
                                            <div class="text-center mt-2">
                                                <a href="" class="text-secondary" style="color: #8f1616!important;">Delete your profile</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
