{% extends "template.html" %}

{% block content %}
<main>
    <section class="booking-section section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12 mx-auto">
                <div class="booking-form-wrap">
                    <div class="row">
                        <div class="col-lg-7 col-12 p-0">
                            <form class="custom-form booking-form" action="#" method="post" role="form">
                                <div class="text-center mb-4 pb-lg-2">
                                    <em class="text-white">Fill out the booking form</em>

                                    <h2 class="text-white">Book a service</h2>
                                </div>

                                <div class="booking-form-body">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <input type="text" name="booking-form-name" id="booking-form-name" class="form-control" placeholder="Full Name" required>
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <input type="tel" class="form-control" name="booking-form-phone" placeholder="Phone: 333 613 7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required="">
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <input class="form-control" type="time" name="booking-form-time" value="18:30">
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <input type="date" name="booking-form-date" id="booking-form-date" class="form-control" placeholder="Date" required="">
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <label name="Salon" style="color: white">Salon</label>
                                            <select class= "form-control" name="Salon" required>
                                                <option value="">--select--</option>
                                                <option type="hidden" name="Salon">Barber Shop</option>
                                                <option type="hidden" name="Salon">Hairdressing Salon</option>
                                            </select>
                                        </div>

                                        <!-- If (Salon= 'Barber Shop')
                                                    Mostra tipoServizio Maschile
                                             elseif (Salon = 'Hairdressing Salon')
                                                    Mostra tipoServizio Femminile
                                             else
                                                    Non mostrare niente
                                        -->
                                        <div class="col-lg-6 col-12">
                                            <label name="tipoV" style="color: white">Service</label>
                                                <select class= "form-control" name="tipoServizio" required>
                                                    <option value="">--select--</option>
                                                    <option type="hidden" name="tipoServizio">Haircut</option>
                                                    <option type="hidden" name="tipoServizio">Beard</option>
                                                    <option type="hidden" name="tipoServizio">Haircut & Beard</option>
                                                    <option type="hidden" name="tipoServizio">Traditional Shave</option>
                                                    <option type="hidden" name="tipoServizio">Children's Haircut</option>
                                                </select>
                                        </div>

                                        <div class="col-lg-12 col-12">
                                            <textarea name="booking-form-message" rows="3" class="form-control" id="booking-form-message" placeholder="Comment (Optional)"></textarea>
                                        </div>

                                        <div class="col-lg-4 col-md-10 col-8 mx-auto mt-2">
                                            <button type="submit" class="form-control">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-5 col-12 p-0">
                            <div class="booking-form-image-wrap contact-section">
                                <img src="../static/images/team/desBeard.jpg"  class="booking-form-image img-fluid" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </section>
</main>

{% endblock %}
