{% extends "template.html" %}

{% block content %}

    <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
        <h3 style="color: rgba(188,108,37,0.73) !important;">Check reservations</h3>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Età</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in persone %}
                <tr>
                    <td>{{ persona.id }}</td>
                    <td>{{ persona.nome }}</td>
                    <td>{{ persona.cognome }}</td>
                    <td>{{ persona.eta }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
