{% extends "template.html" %}

{% block content %}

    <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2" style="background-color: rgba(233,233,231,0.68)!important;">
        <h3 style="color: rgba(188,108,37,0.73) !important;">Check reservations</h3>
         <small style="color: rgba(188,108,37,0.73) !important;">Here you can see who has booked for you</small>
        <div class="container">
            <table class="table table-bordered table-striped" style="margin-top: 30px">
                <thead class="table-dark">
                <tr>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Service</th>
                    <th>Cellular</th>
                </tr>
                </thead>
                <tbody>
                {% for booking_id, booking_data in cursor.items() %}
                    <tr>
                        <td>{{ booking_data.full_name }}</td>
                        <td>{{ booking_data.date }}</td>
                        <td>{{ booking_data.time }}</td>
                        <td>{{ booking_data.typeS }}</td>
                        <td>{{ booking_data.phone }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
