{% extends "template.html" %}

{% block content %}

    <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2" style="background-color: rgba(233,233,231,0.68)!important;">
        <h3 style="color: rgba(188,108,37,0.73) !important;">View Hairdressers</h3>
        <small style="color: rgba(188,108,37,0.73) !important;">Here you can see information about Hairdressers</small>

        <div class="container">
            <table class="table table-bordered table-striped" style="margin-top: 30px">
                <thead class="table-dark">
                <tr>
                    <th>Hairdressers</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Salary</th>
                </tr>
                </thead>
                <tbody>
                {% for employees_id, employees_data in cursor.items() %}
                    <tr>
                        <td>{{ employees_data.first_name }}</td>
                        <td>{{ employees_data.email }}</td>
                        <td>{{ employees_data.role }}</td>
                        <td>{{ employees_data.salary}}</td>
                        <div class="text-center mt-2">
                            <a href="" class="text-secondary" style="color: #8f1616!important;">Modify</a>
                        </div>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
